body {
    margin: 0px;
    padding: 0px;
}
* {
    box-sizing: border-box;
}

#root {
    height: 100vh;
    width: 100vw;
     background-color: lightgrey;
     display: flex;
     flex-direction: row;
}
 .board {
     height: 100%;
     width: 50%;
     
 }

 .display {
    height: 100%;
    width: 50%;
    
    display: flex;
    flex-direction: column;
}

.title {
    height: 10%;
    width: 100%;
    border: 3px solid black;
    text-align: center;
    font-size: 50px;
    color: rgb(16, 15, 15);
    background-color: rgb(191, 121, 121);
    box-shadow: 5px 7px 7px black;
}
.content {
    height: 90%;
    width: 100%;
    border: 3px solid black;
}

/* ye  content of board ke ander box banane ka tarika */
.ttt {
    height: 75%;
    width: 75%;
    
    margin: 75px auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

}

/* row jo .ttt ke ander honge or button se operate honge */
.row {
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;

}
/* row ke ander jo button hoga uska kaam mtlb jisme cross or circle karenge */
.row button {
width: 100%;
cursor: pointer;


}
.row button:hover{
    background-color:aquamarine ;
    box-shadow: 5px 7px 7px black;
    
    }

/* ye content of display ke ander ka box banane ka tarika  */
.history {
    height: 75%;
    width: 75%;
    border: 3px solid black;
    margin: 75px auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

}

.history button {
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
}
.history button:hover {
    background-color: darkcyan;
    
}