body{
    margin: 0px;
    padding: 0px;
}

*{
    box-sizing: border-box;
}

#action-bar{
    background-color:lightgrey;
    height: 8vh;
    display: flex;
}
#action-bar *{
    border: 3px solid black;
    border-radius: 5px;
    margin: 10px  5px;
    padding: 5px;
    cursor: pointer;
}

#action-bar span:hover{
    background-color: rgb(152, 46, 46);
    transform: scale(1.05);
    
}
#action-bar select{
    background-color: aquamarine;
}
#action-bar select:hover{
    background-color:darkgreen;
}
#action-bar select option{
    margin:10px;
    border-bottom: 2pxsolid teal;
}
#content{
    height: 92vh;
    display: flex;
}
#content-list{
    border: 5px solid red;
    width: 15vw;

}
#content-details{
    border: 5px solid blue;
    width: 85vw;
}
#overlay{
    position: fixed;
    height: 92vh;
    width: 100vw;
    top: 8vh;
    left: 0%;
    background-color:black;
    opacity: 0.5;
    z-index: 2;
    cursor: pointer;

}
#text{
    /* absolute se niche se kone se start hota hai uper jha url dalte hai vha se nhi */
    position:absolute;
    font-size: 50px;
    color: white;
    height: 20%;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-40%,-50%);
}